.speasyimagegallery-row {margin: -15px;}.speasyimagegallery-row > div > .speasyimagegallery-gallery-item {padding: 15px;}@media only screen and (max-width : 992px) {.speasyimagegallery-row {margin: -7.5px;}.speasyimagegallery-row > div > .speasyimagegallery-gallery-item {padding: 7.5px;}}@media only screen and (max-width : 768px) {.speasyimagegallery-row {margin: -5px;}.speasyimagegallery-row > div > .speasyimagegallery-gallery-item {padding: 5px;}}
body{font-family:Ubuntu, sans-serif; font-size:16px; font-weight:300; }
h1{font-family:Ubuntu, sans-serif; font-size:80px; font-weight:300; }
h2{font-family:Ubuntu, sans-serif; font-size:36px; font-weight:300; }
h3{font-family:Ubuntu, sans-serif; font-size:24px; font-weight:300; }
h4{font-family:Ubuntu, sans-serif; font-size:16px; font-weight:300; }
h5{font-family:Ubuntu, sans-serif; font-weight:300; }
h6{font-family:Ubuntu, sans-serif; font-weight:300; }
.sp-megamenu-parent{font-family:Ubuntu, sans-serif; font-weight:300; }
#sp-top-bar{ background-color:#00B2B2;color:#ffffff; }
#sp-section-2{ background-color:#00B2B2;color:#ffffff; }
#sp-section-2 a{color:#ffffff;}
#sp-section-3{ background-color:#00B2B2;color:#ffffff; }
#sp-section-3 a{color:#ffffff;}
#sp-bottom{ background-color:#00B2B2;color:#ffffff;padding:100px 0px 85px; }
#sp-bottom a{color:#ffffff;}
#sp-bottom a:hover{color:#ffffff;}
#sp-footer{ background-color:#00B2B2;color:#ffffff; }
#sp-footer a{color:#ffffff;}